#sectionLocalisation{
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    border-top: 2px solid #c3c3c3;

        .localisation{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;

            i{
                padding-right: 20px;
            }
        }
}

#sectionPresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
    height: 230px;
    padding-top: 20px;
    padding-bottom: 30px;
    

    .presentation{

        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            width: 70%;
            height: auto;
            justify-content: center;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            color: #9E9E9E;
        
        }
    }


    .presentationExplorations{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 70%;
        border-radius: 100px;
        color: white;
        background: linear-gradient($secondary-color, $primary-color);
        padding: 5px;
        
    }
}

#sectionFonctionnement{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    

    h1{
       margin-left: -125px;
    }
    
    .fonctionnement{
        display: flex;
        text-align: center;
        width: 85%;
        margin-bottom: 10%;
        margin-left: 5%;
        padding: 15px 0 15px 0;
        border-radius: 25px;
        box-shadow: 15px 15px 15px #e5e5e5;
        background-color: #f6f6f6;
        

        .numero{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        span{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            top: 0; left: -15px;
            background-color: $primary-color;
            border-radius: 50%;
            padding: 4px 8px 4px 8px;
            color: white;
        }

        .icone{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-right: 20px;
        }
        
        

        &:hover{
            background-color: #f5edff;
            i{
                color: #9356DC;
            }
        }
    }
    
}

#sectionRestaurant{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f6f6f6;
    padding: 30px 0 40px 0;;

    h1{
        position: relative;    
        top: 0; left: -85px;
    }

    .restaurant{
        display: flex;
        justify-content: center;
        width: 90%;
        flex-wrap: wrap;
        margin-bottom: 15px;
        position: relative;
        background-color: white;
        border-radius: 20px;

        a{
            width: 100%;
        }

        .restaurant__cadre{
            width: 100%;
            height: 150px; 
             

            .restaurant__image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 100%;
                border-radius: 20px 20px 0 0;  
            }
            

            .restaurant__imagePortrait{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 60%;
                border-radius: 20px 20px 0 0; 
            }
        }

        h2{
            padding: 15px 0 0 10px;
            margin: 0;
        }

        p{

            padding: 5px 0 10px 10px;
            margin: 0;
            
        }

        .restaurant__coeur{
            display: flex;
            position: absolute;
            font-size: 25px;
            top: 77%; left: 85%;
        }

        .nouveau{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $tertiary-color;
            color: #309078 ;
            width: 70px;
            padding: 5px;
            border-radius: 4px;
            position: absolute;
            top: 10px; left: 200px;
        }
    
    }

   
}