/* Elements principaux */
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 15px;
  font-weight: 400;
}

p {
  font-size: 15px;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Loader */
.chargement {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.chargement .loader {
  width: 200px;
  height: 200px;
  border-top: 6px solid #9356DC;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
    display: none;
  }
}

/* Coeur */
header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}
header img {
  display: flex;
  width: 50%;
  margin: 2% auto;
  align-items: center;
}
@media (min-width: 768px) {
  header img {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  header img {
    width: 25%;
  }
}
header #retour {
  position: absolute;
  left: 10px;
  cursor: pointer;
}
header #retour i {
  font-size: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 185px;
  border: none;
  border-radius: 50px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 5px 15px 5px;
  box-shadow: 3px 3px 10px #b3b3b3;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#FF9EE4, #A15DF2);
  box-shadow: 3px 3px 10px #7a7a7a;
}

footer {
  background: #363636;
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 20px;
}
footer h3 {
  color: white;
  font-family: Shrikhand, Arial, sans-serif;
  font-size: 15px;
  padding: 10px 0 10px 0;
}
footer a {
  color: white;
  padding-bottom: 10px;
}
footer a i {
  width: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin: 0;
}

.sectionLocalisation {
  width: 100%;
  height: auto;
  background-color: #eaeaea;
  border-top: 2px solid #c3c3c3;
}
.sectionLocalisation__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .sectionLocalisation__localisation {
    margin-left: 0;
  }
}
.sectionLocalisation__localisation form {
  margin-left: 30px;
}
.sectionLocalisation__localisation form input {
  border: none;
  background-color: #eaeaea;
  padding: 4px 0px 4px 15px;
  margin: 5px 0 5px 0;
}
.sectionLocalisation__localisation form ::placeholder {
  color: #000000;
  font-size: 15px;
}

.sectionPresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 230px;
  padding-top: 20px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .sectionPresentation {
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .sectionPresentation {
    height: 150px;
  }
}
.sectionPresentation__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .sectionPresentation__presentation {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .sectionPresentation__presentation {
    width: 100%;
  }
}
.sectionPresentation__presentation h1 {
  width: 70%;
  height: auto;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .sectionPresentation__presentation h1 {
    width: 100%;
    margin-bottom: 0;
  }
}
.sectionPresentation__presentation p {
  text-align: center;
  color: #9E9E9E;
}

.sectionFonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 0 35px 0;
}
.sectionFonctionnement:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .sectionFonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 190px;
    padding: 30px 0 0 0;
  }
}
.sectionFonctionnement h1 {
  margin-left: -125px;
}
@media (min-width: 768px) {
  .sectionFonctionnement h1 {
    margin: 10px 0 20px 0;
  }
}
@media (min-width: 1024px) {
  .sectionFonctionnement h1 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
  }
}
.sectionFonctionnement .fonctionnement {
  display: flex;
  text-align: center;
  width: 85%;
  margin-bottom: 10%;
  margin-left: 5%;
  padding: 15px 0 15px 0;
  border-radius: 25px;
  box-shadow: 15px 15px 15px #e5e5e5;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .sectionFonctionnement .fonctionnement {
    width: 60%;
    margin: 0 0 5% 20px;
  }
}
@media (min-width: 1024px) {
  .sectionFonctionnement .fonctionnement {
    width: 30%;
    height: 35px;
    margin-bottom: 5%;
    align-items: center;
  }
}
.sectionFonctionnement .fonctionnement__numero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sectionFonctionnement .fonctionnement__numero span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 0;
  left: -15px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
  color: white;
}
.sectionFonctionnement .fonctionnement__icone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}
.sectionFonctionnement .fonctionnement:hover {
  background-color: #f5edff;
}
.sectionFonctionnement .fonctionnement:hover i {
  color: #9356DC;
}

.sectionRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding: 30px 0 40px 0;
}
@media (min-width: 1024px) {
  .sectionRestaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.sectionRestaurant h1 {
  position: relative;
  top: 0;
  left: -85px;
}
@media (min-width: 768px) {
  .sectionRestaurant h1 {
    left: 0;
  }
}
@media (min-width: 1024px) {
  .sectionRestaurant h1 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
  }
}
.sectionRestaurant .restaurant {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 15px;
  position: relative;
  background-color: white;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .sectionRestaurant .restaurant {
    width: 23%;
  }
  .sectionRestaurant .restaurant:hover {
    transform: scale(1.05);
  }
}
.sectionRestaurant .restaurant a {
  width: 100%;
}
.sectionRestaurant .restaurant__cadre {
  width: 100%;
  height: 150px;
}
.sectionRestaurant .restaurant__cadre .restaurant__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}
.sectionRestaurant .restaurant__cadre .restaurant__imagePortrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 20px 20px 0 0;
}
.sectionRestaurant .restaurant h2 {
  padding: 15px 0 0 10px;
  margin: 0;
  font-weight: bold;
}
.sectionRestaurant .restaurant p {
  padding: 5px 0 15px 10px;
  margin: 0;
}
.sectionRestaurant .restaurant__coeur {
  display: flex;
  position: absolute;
  font-size: 25px;
  top: 77%;
  right: 0;
  margin-right: 20px;
}
.sectionRestaurant .restaurant__nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #309078;
  width: 70px;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 4%;
  right: 5%;
}

#imageFond {
  position: relative;
  z-index: 1;
}
#imageFond img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 400px;
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0 4% 8% 4%;
  background-color: #f6f6f6;
  margin-top: -60px;
  border-radius: 25px 25px 0 0;
}
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4% 4% 4%;
  }
}
.menu__titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .menu__titre {
    width: 100%;
  }
}
.menu__titre h1 {
  font-family: Shrikhand, Arial, sans-serif;
}
.menu__titre i {
  font-size: 25px;
  margin-right: 20px;
}
.menu h2 {
  padding-bottom: 1px;
  margin-right: 265px;
}
.menu hr {
  height: 3px;
  width: 38px;
  border: none;
  background-color: #99E2D0;
  margin-top: -10px;
  margin-left: 0;
}
@media (min-width: 768px) {
  .menu__entrees {
    width: 46%;
  }
}
@media (min-width: 1024px) {
  .menu__entrees {
    width: 32%;
  }
}
@media (min-width: 768px) {
  .menu__plats {
    width: 46%;
  }
}
@media (min-width: 1024px) {
  .menu__plats {
    width: 32%;
  }
}
@media (min-width: 768px) {
  .menu__desserts {
    width: 46%;
  }
}
@media (min-width: 1024px) {
  .menu__desserts {
    width: 32%;
  }
}
.menu .cartes {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 10px 10px #e5e5e5;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.menu .cartes h3 {
  margin: 0 0 8px 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .cartes__texte {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu .cartes__texte p {
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .cartes__texte span {
  align-items: flex-end;
  font-weight: bold;
  margin-right: 15px;
}
.menu .bouton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 15px 0;
}
@media (min-width: 768px) {
  .menu .bouton {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .menu .bouton {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
