/* Loader */
.chargement {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    animation: fondu;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  
    .loader {
      width: 200px;
      height: 200px;
      border-top: 6px solid $primary-color;
      border-radius: 50%;
      animation: loader 5s forwards;
  
    }
  
    @keyframes loader {
      0% {
        transform: rotate(0deg);
  
      }
      100% {
        transform: rotate(720deg);
        display: none;
      }
    }
  
  
    @keyframes fondu {
      0% {
        opacity: 0.95;
      }
  
      10% {
        opacity: 0.9;
      }
  
      20% {
        opacity: 0.8;
      }
  
      30% {
        opacity: 0.7;
      }
  
      40% {
        opacity: 0.6;
      }
  
      50% {
        opacity: 0.5;
      }
  
      60% {
        opacity: 0.4;
      }
  
      70% {
        opacity: 0.3;
      }
  
      80% {
        opacity: 0.2;
      }
  
      90% {
        opacity: 0.1;
      }
  
      100% {
        opacity: 0;
      }
    }
  }
  

/* Coeur */

.restaurant__coeur{
  color: B2B2B2;
  cursor: pointer;
}

.lienCoeur:hover i,.lienCoeur:active i,.lienCoeur:focus i{
  -webkit-animation: fa-heart 2s;
  animation: fa-heart 1s;
  background: linear-gradient( -7deg, $primary-color 4%, $secondary-color 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@-webkit-keyframes fa-heart{
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fa-heart{
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}