/* Loader */
.chargement {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    animation: fondu;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
  
    .loader {
      width: 200px;
      height: 200px;
      border-top: 6px solid $primary-color;
      border-radius: 50%;
      animation: loader 5s forwards;
  
    }
  
    @keyframes loader {
      0% {
        transform: rotate(0deg);
  
      }
      100% {
        transform: rotate(720deg);
        display: none;
      }
    }
  
  
    @keyframes fondu {
      0% {
        opacity: 0.95;
      }
  
      10% {
        opacity: 0.9;
      }
  
      20% {
        opacity: 0.8;
      }
  
      30% {
        opacity: 0.7;
      }
  
      40% {
        opacity: 0.6;
      }
  
      50% {
        opacity: 0.5;
      }
  
      60% {
        opacity: 0.4;
      }
  
      70% {
        opacity: 0.3;
      }
  
      80% {
        opacity: 0.2;
      }
  
      90% {
        opacity: 0.1;
      }
  
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  
/* Apparition */

@keyframes apparition{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.menu__entrees{
  animation: apparition 1200ms backwards 300ms;
}

.menu__plats{
  animation: apparition 1200ms backwards 600ms;
}

.menu__desserts{
  animation: apparition 1200ms backwards 900ms;
}



/* Coeur */

.restaurant__coeur{
  color: #B2B2B2;
  cursor: pointer;
}

.lienCoeur:hover i,.lienCoeur:active i,.lienCoeur:focus i{
  -webkit-animation: fa-heart 2s;
  animation: fa-heart 1s;
  background: linear-gradient( -7deg, $primary-color 4%, $secondary-color 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@-webkit-keyframes fa-heart{
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fa-heart{
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

/*Checkbox*/

.cartes{

  &__validation{
    background-color: $tertiary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 100%;
    margin: -12px 0 0 0;
    border-radius: 0 15px 15px 0;
    position: absolute;
    right: -80px;
    top: 12px;
    transition-duration: 750ms;
    visibility: hidden;
    
    i{
      color: $tertiary-color;
      font-size: 15px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: white;
      transition: transform 500ms 250ms;
      transform: rotate(0deg);
    }
    
  }

  &:hover{
    .cartes__texte{
      span{
        margin-right: 80px;
        transition-duration: 750ms;
      }
    }

    .cartes__validation{
        right: 0;
        visibility: visible;
        i{
          transform: rotate(360deg);
        }
        
    }
  }
}