/* Elements principaux */

body{
    max-width: 1920px;
    margin: 0 auto;
    font-family: $primary-font;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 15px ;
}

p{
    font-size: 15px;
}

a{
    color: #000000;
    text-decoration: none;
}