header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;

    img{
        display: flex;
        width: 50%;
        margin: 2% auto;
        align-items: center;

        @include tablette{
            width: 25%;
        }
        @include desktop{
            width: 25%;
        }
    }

    #retour{
        position: absolute;
        left: 10px;
        cursor: pointer;

        i{
            font-size: 20px;
        }
    }
}


