$primary-color : #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$ombre: #e5e5e5;
$primary-font: Roboto, Arial, sans-serif;
$secondary-font: Shrikhand, Arial, sans-serif;
$breakpoint-tablette: 768px;
$breakpoint-desktop: 1024px;